#Double2x3 > VisualElement {
    flex-direction: row;
}

#Double2x3 > VisualElement > TemplateContainer {
    flex-grow: 1;
}

#Double2x3 > VisualElement > Label {
    -unity-text-align: middle-left;
}
